#audio_timeline {
    background: #212529;
    width: 75%;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 1rem;
    color: #ffffff;
}

#audio_controller {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto;
    background: #212529;
    width: 75%;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
}

#button_label {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #8d1a8d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

#button_label i {
    color: #fff;
}

#button_label:hover {
    cursor: pointer;
    background-color: #b300b3;
}

#button_label:active {
    background-color: #e600e6;
}

/* -------------- slider css -----------------  */

#audio_controller .slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(28, 146, 236, 0.5);
    box-shadow: rgba(28, 146, 236, 0.5) 0 0 5px 1px;
    color: #fff;
    padding: 0.5rem;
    margin: 0 0.2rem;
    border-radius: 0.5rem;
}


#audio_controller .slider_container .slider {
    margin: 0 0.5rem;
    height: 0.3rem;
    border-radius: 0.5rem;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.range__slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.range__slider .slider {
    -webkit-appearance: none;
    max-width: 150px;
    min-width: 100px;
    width: 100%;
    height: 0.5rem;
    background: #f1f1f1;
    outline: none;
    padding: 0;
    margin: 0;
}

.range__value_l {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    margin-left: 0.2rem;
    text-align: center;
    border-right: #e6e4e4 1px solid;
}

.range__value_r {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    margin-left: 0.2rem;
    text-align: center;
    border-left: #e6e4e4 1px solid;
}

/* custom thumb */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #f0932b;
    border: #f9ca24 5px solid;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.slider::-moz-range-thumb {
    width: 0.5rem;
    height: 0.5rem;
    border: none;
    border-radius: 50%;
    background: #f0932b;
    border: #f9ca24 5px solid;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

/* ---------------------- media controls ---------------------- */

@media screen and (max-width: 996px) {

    #audio_timeline {
        width: 98%;
    }

    #audio_controller {
        width: 98%;
        flex-direction: column;
    }
}


/* ---------------------- media controls ---------------------- */

#waveformRec {
    background: #333;
}

.back {
    background: #46a6d8;
}

.wave {
    background: #333;
}

#forRecord {
    display: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    background: #212529;
    border-radius: 10px;
}

#btn_trim, #btn_delete {
    width: 150px;
}

#rec_area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}

#controls_row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#btn_record {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #2196f3;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}


label[for='btn_rec_play_pause'] {
    background-color: #2196f3;
    color: #ffffff;
    margin: 0 50px;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.record-container {
    display: none;
    padding: 50px 10px;
    margin: 0 auto;
    z-index: 9999;
    width: 80%;
    height: 120px;
    background: black;
    opacity: 0.9;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.waveform-container {
    background: #ccfcfc !important;
    padding: 5px !important;
    border: 3px !important;
    border-color: red !important;
    border-radius: 7px !important;
}

showtitle, cursor {
    z-index: 5 !important;
}

.wavesurfer-handle {
    position: fixed;
    height: 130px !important;
    z-index: 15 !important;
    width: 10px !important;
    max-width: 10px !important;
    background: #CCAADD;
    border-radius: 5px;
}

/* ------------------------------------------------ */


.recording {
    animation: recordAnimation 1.5s infinite;
}

@keyframes recordAnimation {
    0% {
        opacity: 0.5;
        background: #f45050;
    }
    50% {
        opacity: 1;
        background: #f45050;
    }
    100% {
        opacity: 0.5;
        background: #f45050;
    }
}


@media (max-width: 768px) {

    .buttons {
        width: 98%;
    }

    #controls_row {
        flex-direction: column;
    }

    label[for='btn_rec_play_pause'] {
        margin: 10px 0;
        order: 1;
    }

    #btn_trim {
        order: 2;
        margin: 5px 0;
    }

    #btn_delete {
        order: 3;
        margin: 5px 0;
    }
}
