<div class="modal fade" id="diarizeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="diarizeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="diarizeModalLabel">Diarize Audio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                {# ------------------------------------------------------------------------- #}

{#                <div id="audio_timeline">#}
{#                    <div id="waveform"></div>#}
{#                    <div id="wave-timeline"></div>#}
{#                </div>#}
{##}
{#                <div id="audio_controller">#}
{##}
{#                    <div class="slider_container">#}
{#                        <div class="slider-item range__value_l">#}
{#                            <i id="volume-button" class="fa fa-volume-high"></i>#}
{#                        </div>#}
{#                        <div class="form-group range__slider">#}
{#                            <label for="volume_slider"></label><input class="slider" id="volume_slider" type="range">#}
{#                        </div>#}
{##}
{#                        <div id="volume_value" class="form-group range__value_r slider-item">#}
{#                            <span class="badge rounded-pill bg-dark">%100</span>#}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{#                    <label class="my-2" for="btn_play_pause" id="button_label">#}
{#                        <input type="checkbox" id="btn_play_pause" style="display: none">#}
{#                        <i class="fa-solid fa-play"></i>#}
{#                    </label>#}
{##}
{##}
{#                    <div class="slider_container">#}
{#                        <div class="slider-item range__value_l">#}
{#                            <i class="fa-solid fa-magnifying-glass-minus"></i>#}
{#                        </div>#}
{##}
{#                        <div class="form-group range__slider">#}
{#                            <label for="zoom_slider"></label><input id="zoom_slider" class="slider" type="range">#}
{#                        </div>#}
{##}
{#                        <div class="slider-item range__value_r">#}
{#                            <i class="fa-solid fa-magnifying-glass-plus"></i>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

                {# ------------------------------------------------------------------------- #}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>